body {
    margin: 0;
    background-color:#DFEFF8;
    color:  #333;
  }

  a{
    cursor:pointer;
  }
  
  .d-flex {
    display: flex;
  }

.container {
    width: 100%;
    height: 210vh;
  }

  
 .header {
    width: 100%;
    height: 130px;
    background-color: #ADFF00;
  }

  
  .leaf1 img {
    position: absolute;
    top: 24px;
    left: 201px;
}
  .name {
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 64px;
    text-align: center;
    -webkit-text-stroke: 1px #333;
    color: #24f612;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik Microbe', cursive;
}


.leaf2 img {
    position: absolute;
    top: 24px;
    right: 201px;
}

.location a{
    color:  #138309;
    cursor:pointer;
}

.location{
    margin: center;
    padding-top: 72px;
    padding-bottom: 72px;
    font-size: 64px;
    text-align: center;
    -webkit-text-stroke: 1px #333;
    color: #138309;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik Microbe', cursive;
    text-transform: uppercase;
    margin-bottom: 64px;
    margin-left: 64px;
}

.map-container {
    margin: center;
}